body{
    background-color: rgb(151, 4, 4);
}

button{
    color: rgb(151, 6, 6);
    background-color: rgb(66, 69, 69);
    border: none;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 45%;
   width: 215px;
   height: 150px;
   font-size: 50px;
}

a{
    margin-left: 38%;
}

.button{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 800px;
    
}